.portfolio-bar {
  bottom: 8px;
  left: 8px;
  border-radius: 10px;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background: #efefef;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  z-index: 9999;
  animation: slideOut 0.5s;
  font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
}
.portfolio-link {
  font-size: 14px;
  color: #8d8d8d;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 12px;
  transition: 0.3s;
}
.portfolio-link:hover {
  color: #bdbdbd;
}
.portfolio-socials {
  display: flex;
  align-items: center;
}
.social-link {
  position: relative;
  background: linear-gradient(0deg, #bdbdbd, #fff);
  text-decoration: none;
  width: 32px;
  height: 32px;
  padding: 8px;
  border-radius: 50%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-out;
}
.social-link:not(:last-child) {
  margin-right: 12px;
}
.social-link:before {
  content: "";
  position: absolute;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border-radius: 50%;
  background: linear-gradient(0deg, #fff, #bdbdbd);
  top: 2px;
  transition: all 0.3s ease-out;
  z-index: 0;
}
.social-link:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.social-link svg {
  width: 24px;
  height: auto;
  z-index: 1;
}
.social-link.gmail rect,
.social-link.gmail polygon {
  fill: #fff;
  transition: 0.3s;
}
.social-link.gmail path {
  fill: #8d8d8d;
  transition: 0.3s;
}
.social-link.gmail:hover rect {
  fill: #ECEFF1;
}
.social-link.gmail:hover polygon {
  fill: #CFD8DC;
}
.social-link.gmail:hover path {
  fill: #F44336;
}
.social-link.instagram stop {
  stop-color: #8d8d8d;
  transition: 0.3s;
}
.social-link.instagram:hover stop:nth-child(1) {
  stop-color: #fd5;
}
.social-link.instagram:hover stop:nth-child(2) {
  stop-color: #ff543e;
}
.social-link.instagram:hover stop:nth-child(3) {
  stop-color: #c837ab;
}
.social-link.telegram circle {
  fill: #8d8d8d;
  transition: 0.3s;
}
.social-link.telegram:hover circle {
  fill: #039be5;
}
* {
  outline: 0;
  box-sizing: border-box;
}
::selection {
  color: #131313;
  background: #00F1EA;
}
html,
body {
  font-size: 18px;
  font-family: "MontserratMedium", serif;
  margin: 0;
  height: 100%;
  color: #fff;
  background-color: #131313;
}
body {
  overflow-x: hidden;
  overflow-y: auto;
}
.wrap {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: auto;
}
@media (max-width: 767px) {
}
main {
  flex: 1 0 auto;
  position: relative;
}
.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 100vw;
}
@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1230px;
  }
}
a,
button {
  color: #fff;
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}
img {
  user-select: none;
  max-width: 100%;
}
.position-relative {
  position: relative;
}
.flex {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-align-center {
  display: flex;
  align-items: center;
}
.flex-space-between {
  display: flex;
  justify-content: space-between;
}
.flex-align-start {
  align-items: flex-start;
}
.font-size14 {
  font-size: 14px;
  line-height: 20px;
}
.font-size16 {
  font-size: 16px;
  line-height: 20px;
}
.letter-spacing-05 {
  letter-spacing: -0.5px;
}
.color-green {
  color: #00F1EA;
}
.color-white07 {
  color: rgba(255, 255, 255, 0.7);
}
.margin-top-auto {
  margin-top: auto;
}
.margin-right16 {
  margin-right: 16px;
}
.margin-bottom60 {
  margin-bottom: 60px;
}
.margin-bottom56 {
  margin-bottom: 56px;
}
.margin-bottom32 {
  margin-bottom: 32px;
}
.margin-bottom20 {
  margin-bottom: 20px;
}
.margin-bottom10 {
  margin-bottom: 10px;
}
.margin-bottom4 {
  margin-bottom: 4px;
}
.section-title {
  font-family: "MontserratSemiBold", serif;
  background-image: linear-gradient(270deg, #888888 4.72%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #FFFFFF, #FFFFFF);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 52px;
  line-height: 56px;
  letter-spacing: -2px;
  margin-bottom: 20px;
}
@media (max-width: 600px) {
  .section-title {
    font-size: 30px;
    line-height: 42px;
  }
  .section-title:not(.primary-title) {
    margin-bottom: 12px;
  }
}
.section-description {
  max-width: 700px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.5px;
  color: rgba(255, 255, 255, 0.7);
}
.primary-btn {
  text-decoration: none;
  user-select: none;
  font-family: "MontserratSemiBold", serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #fff;
  padding: 16px 24px;
  background-image: url("../img/btn-border.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: transparent;
  border: none;
}
.to-bottom {
  user-select: none;
  background: transparent;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
}
.to-bottom img {
  margin-right: 8px;
}
@media (min-width: 992px) {
  .to-bottom {
    margin-top: 92px;
  }
}
@media (max-width: 600px) {
  .to-bottom {
    display: none;
  }
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 60px;
  background: linear-gradient(0deg, #131313, #131313), #0D0D0D;
}
@media (max-width: 991px) {
  header {
    padding: 24px 15px;
  }
}
@media (max-width: 600px) {
  header .primary-btn {
    padding: 10px 16px;
  }
}
footer {
  padding: 32px 0;
}
.social-title {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.5px;
  color: rgba(255, 255, 255, 0.3);
  margin-right: 44px;
}
@media (max-width: 600px) {
  .social-title {
    display: none;
  }
}
.social-btn {
  width: 42px;
  height: 42px;
  background: #232323;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-btn:not(:last-child) {
  margin-right: 16px;
}
.primary-section {
  padding: 80px 0;
  min-height: 100vh;
}
@media (min-width: 1200px) {
  .primary-section--container {
    padding: 0 102px;
  }
}
@media (min-width: 601px) {
  .primary-section {
    background: linear-gradient(180deg, #131313 0%, rgba(19, 19, 19, 0) 100%), #0D0D0D;
  }
}
@media (max-width: 600px) {
  .primary-section {
    padding: 80px 0 0;
  }
}
@media (min-width: 992px) {
  .primary-title {
    font-size: 68px;
    line-height: 74px;
  }
}
@media (min-width: 601px) and (max-width: 991px) {
  .primary-title {
    font-size: 64px;
    line-height: 68px;
  }
}
@media (min-width: 992px) {
  .primary-image {
    position: absolute;
    bottom: -20px;
    right: 0;
  }
}
@media (max-width: 992px) {
  .primary-image {
    align-items: flex-end;
  }
}
.primary-time {
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.5px;
  text-transform: uppercase;
  color: #00F1EA;
  margin-bottom: 10px;
}
@media (max-width: 600px) {
  .primary-time {
    font-size: 14px;
  }
}
.profit-section {
  margin-bottom: 200px;
}
@media (max-width: 1199px) {
  .profit-section {
    margin-bottom: 100px;
  }
}
.profit-section--header {
  margin-top: 80px;
  margin-bottom: 160px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 600px) {
  .profit-section--header {
    margin: 40px 0;
    text-align: left;
    align-items: flex-start;
  }
}
.profit-blocks {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
@media (max-width: 1199px) {
  .profit-blocks {
    margin: -8px;
  }
}
.profit-blocks > * {
  width: 25%;
  padding: 0 15px;
}
@media (max-width: 1199px) {
  .profit-blocks > * {
    padding: 8px;
    width: 50%;
  }
}
@media (max-width: 600px) {
  .profit-blocks > * {
    width: 100%;
  }
}
.profit-blocks--item {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 280px;
  background: linear-gradient(180deg, rgba(19, 19, 19, 0) 0%, #171717 100%), #212121;
  border-radius: 20px;
  flex: 1;
  padding: 20px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.5px;
}
@media (max-width: 991px) {
  .profit-blocks--item {
    height: 240px;
  }
}
.profit-blocks--img {
  display: block;
  position: relative;
  margin-left: auto;
}
@media (max-width: 991px) {
  .profit-blocks--img {
    transform: scale(0.8);
  }
}
.profit-blocks--wrap:nth-child(1) .profit-blocks--img {
  bottom: -4px;
  right: -46px;
}
@media (max-width: 991px) {
  .profit-blocks--wrap:nth-child(1) .profit-blocks--img {
    bottom: 30px;
    right: -56px;
  }
}
.profit-blocks--wrap:nth-child(2) .profit-blocks--img {
  bottom: -16px;
  right: -54px;
}
@media (max-width: 991px) {
  .profit-blocks--wrap:nth-child(2) .profit-blocks--img {
    bottom: 20px;
    right: -64px;
  }
}
.profit-blocks--wrap:nth-child(3) .profit-blocks--img {
  bottom: -24px;
  right: -34px;
}
@media (max-width: 991px) {
  .profit-blocks--wrap:nth-child(3) .profit-blocks--img {
    bottom: 0px;
    right: -44px;
  }
}
.profit-blocks--wrap:nth-child(4) .profit-blocks--img {
  bottom: -16px;
  right: -46px;
}
@media (max-width: 991px) {
  .profit-blocks--wrap:nth-child(4) .profit-blocks--img {
    bottom: 20px;
    right: -56px;
  }
}
.speakers-section {
  margin-bottom: 200px;
}
@media (max-width: 1199px) {
  .speakers-section {
    margin-bottom: 100px;
  }
}
.speakers-section--header {
  margin-bottom: 160px;
}
@media (max-width: 600px) {
  .speakers-section--header {
    margin-bottom: 40px;
  }
}
.speakers-blocks {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
@media (max-width: 1199px) {
  .speakers-blocks {
    margin: -8px;
  }
}
.speakers-blocks > * {
  width: 50%;
  padding: 0 15px;
}
@media (max-width: 1199px) {
  .speakers-blocks > * {
    padding: 8px;
  }
}
@media (max-width: 600px) {
  .speakers-blocks > * {
    width: 100%;
  }
}
.speakers-blocks--content {
  display: flex;
  flex-direction: column;
  height: 100%;
  z-index: 1;
}
.speakers-blocks--item {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 384px;
  background: linear-gradient(180deg, rgba(19, 19, 19, 0) 0%, #171717 100%), #212121;
  border-radius: 20px;
  flex: 1;
  padding: 20px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.5px;
}
@media (max-width: 991px) {
  .speakers-blocks--item {
    height: 100%;
  }
}
@media (min-width: 992px) {
  .speakers-blocks--img {
    position: absolute;
    margin-left: auto;
  }
  .speakers-blocks--img .mobile-only {
    display: none;
  }
}
@media (max-width: 991px) {
  .speakers-blocks--img {
    overflow: hidden;
    height: 268px;
    flex-shrink: 0;
    position: relative;
    margin-bottom: 20px;
  }
  .speakers-blocks--img img {
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
  }
  .speakers-blocks--img img:not(.mobile-only) {
    display: none;
  }
}
@media (max-width: 991px) and (max-width: 600px) {
  .speakers-blocks--img {
    height: 208px;
  }
}
@media (min-width: 992px) {
  .speakers-blocks--wrap:nth-child(1) .speakers-blocks--img {
    top: 16px;
    right: -138px;
  }
}
@media (min-width: 992px) {
  .speakers-blocks--wrap:nth-child(2) .speakers-blocks--img {
    top: 32px;
    right: -138px;
  }
}
.contacts-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
@media (max-width: 991px) {
  .contacts-section {
    flex-direction: column;
  }
}
.contacts-section--header .section-description {
  max-width: 380px;
}
.contacts-section--footer {
  margin-top: 100px;
  margin-bottom: 40px;
  text-align: center;
  align-self: center;
}
@media (max-width: 991px) {
  .contacts-section--footer {
    display: none;
  }
}
.contacts-section--left,
.contacts-section--right {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
@media (max-width: 991px) and (min-width: 767px) {
  .contacts-section--left {
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .contacts-section--right {
    margin-left: 100px;
    width: 586px;
  }
}
@media (min-width: 992px) {
  .contacts-section--right {
    margin-left: 60px;
  }
}
.contacts-section--img {
  width: 400px;
  margin-top: auto;
}
@media (max-width: 991px) and (min-width: 768px) {
  .contacts-section--img {
    margin-top: 28px;
    margin-bottom: 40px;
    margin-left: -100px;
  }
}
@media (max-width: 767px) {
  .contacts-section--img {
    margin: 20px auto;
  }
}
.contacts-form {
  width: 100%;
}
.contacts-form input:not([type="submit"]) {
  width: 100%;
  height: 58px;
  background: #2A2A2A;
  border-radius: 42px;
  border: none;
  padding: 0 24px;
  display: flex;
  align-items: center;
  color: #fff;
  margin-bottom: 20px;
}
.contacts-form input:not([type="submit"])::-webkit-outer-spin-button,
.contacts-form input:not([type="submit"])::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.contacts-form input:not([type="submit"]):-webkit-autofill,
.contacts-form input:not([type="submit"]):-webkit-autofill:hover,
.contacts-form input:not([type="submit"]):-webkit-autofill:focus {
  border: 1px solid #2A2A2A;
  -webkit-box-shadow: 0 0 0px 1000px #2A2A2A inset;
  transition: background-color 5000s ease-in-out 0s;
}
.contacts-form input[type="submit"] {
  cursor: pointer;
  margin-top: 32px;
}
